body {
    background-color: lightblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: black;
}

h1 {
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    align-items: center;
}
