[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
tensorflow = "*"
opencv-python = "*"
mediapipe = "*"

[dev-packages]
gym = "*"

[requires]
python_version = "3.9"
